button:focus {
    outline: none !important;
}

.module {
    padding: 30px 0px;

    .module-header {
        text-align: center;
        margin: 0 0 60px;

        .module-subtitle {
            font-family: $font-serif;
            font-style: italic;
            font-size: 14px;
        }

        .module-line {
            width: 55px;
            height: 1px;
            margin: 30px auto;
            background: $color-primary;
        }
    }
}
.module-no-padding {
    padding: 0px !important;
}
.module-gray {
    background: $color-lt-grey;
}
@media(min-width: $screen-md){
    .module {
        padding: 80px 0;

        .module-header-left {
            text-align: left;

            .module-line {
                display: none;
            }
        }
    }
}



/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
}



/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.iconbox,
.progress,
#filter li,
.scroll-up a,
.form-control,
.input-group-addon {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}



/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
    z-index: auto;
}

.input-group-addon {
    background: #D8E1E4;
    border: 2px solid #D8E1E4;
    padding: 6px 15px;
    font-weight: 700;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
    background: #FFF;
    border: 2px solid #D8E1E4;
    font-size: 12px;
    padding: 0 15px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
    height: 38px;
    font-size: 13px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
    font-size: 11px;
    height: 30px;
}

textarea.form-control {
    padding: 15px;
}



