.margin { margin: 15px !important; }
.no-margin { margin: 0px !important; }
.margin-top { margin-top: 15px !important; }
.margin-right { margin-right: 15px !important; }
.margin-bottom { margin-bottom: 15px !important; }
.margin-left { margin-left: 15px !important; }

.padding { padding: 15px !important; }
.no-padding { padding: 0px !important; }
.padding-top { padding-top: 15px !important; }
.padding-right { padding-right: 15px !important; }
.padding-bottom { padding-bottom: 15px !important; }
.padding-left { padding-left: 15px !important; }

.display-flex { display: flex; }
.flex-center { justify-content: center; align-items: center; }
.flex { flex: 1; }

.position-relative { position: relative; }

.inline { display: inline !important; }
.inline-block { display: inline-block !important; }
.block { display: block !important; }