@media screen {
    .visible-print {
        display: none;
    }
}

@media print{
    .hidden-print {
        display: none !important;
    }
    .visible-print {
        display: block !important;
    }

    #header, #intro, #development, #articles, #plugins, #callout, #about, #contact, #footer, .scroll-up a, .btn {
        display:none !important;
    }
    .wow {
        display: block !important;
        visibility: visible !important;
    }
    .module {
        padding: 0px 0px;
        .module-header {
            margin: 10px 0 0px;
        }
        .module-seperator {
            padding: 0px 10px;
        }
        .module-title {
            margin: 30px 0px 10px;
        }
        .module-subtitle {
            margin: 0px;
            padding:0px;
        }
    }
    .resume-label {
        float: left;
        width: 25% !important;
    }
    .resume-items {
        float: left;
        width: 75% !important;

        .row {
            margin-bottom: 0px !important;
        }
    }
    #resume-extended {
        display: block;
    }
    #resume > .container > .row:nth-child(4) {
        page-break-before: always;
    }
    .resume-place {
        margin: 5px 0px 15px;
        h4 {
            display: inline-block;
            padding: 0px 10px 0px 0px;
        }
    }
}