

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

body {
    font: 400 12px/1.8 $font-opensans;
    color: #666;
    overflow-x: hidden;
}

.icon {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lowercase {
    text-transform: lowercase !important;
}

h1, h2, h3, h4, h5, h6 {
    font: 700 40px/1.2 $font-roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #222;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}

h3 {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4 {
    font-size: 12px;
    letter-spacing: 1px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $color-primary;
    transition: all 0.125s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    color: #999;
}

@media (max-width: 480px) {
    h1 {
        font-size: 34px;
        letter-spacing: 3px;
    }
    h2 {
        font-size: 24px;
        margin: 0 0 30px;
        letter-spacing: 3px;
    }
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
    padding: 7px 25px;
    font-family: $font-roboto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
    transition: all 0.125s ease-in-out 0s;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}
.btn-primary {
    color: $color-white;
    background: $color-primary;
    border: 1px solid $color-primary;
}
.btn-primary:hover {
    color: $color-primary;
    background: $color-white;
}
.btn-white {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
}