#resume {
    .resume-label h3 {
        margin: 5px 30px 30px;
        text-align: center;
    }
    .resume-items {
        padding: 0px 30px;
    }
    .position {
        margin-bottom: 30px;

        p {
            margin: 0px;
        }
        .skills {
            margin-top: 10px;
        }
    }
    .resume-previous {
        margin: 10px 0px 0px;
        padding: 5px 15px;
        background-color: #e9e9e9;
        border-left: 1px dashed $color-black;

        .position {
            margin : 0px;
        }
    }
    .btn-primary {
        margin-top: 30px;
    }
}
@media(min-width: $screen-sm){
    #resume {
        .resume-label h3 {
            text-align: right;
        }
        .resume-items {
            padding: 0px;
        }
        .resume-items .row {
            margin-bottom: 0px;
        }
    }
}