.author {
    margin: 30px 0px 0px;
    padding: 30px;
    background-color: $color-lt-grey;

    .author-avatar img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 15px;
        border: 3px solid $color-white;
        border-radius: 50%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            display: inline-block;
        }

        li a {
            font-size: 18px;
        }
    }
}

@media(min-width: 768px){
    .author {
        display: flex;
    }
}