/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
    border-bottom: 1px solid $color-lt-grey;
    width: 100%;
    z-index: 1000;
}

.navbar {
    margin: 0;
    padding: 0px;
    font-family: $font-roboto, sans-serif;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    transition: all .2s linear;

    .navbar-brand {
        display: flex;
        align-items: center;
        min-height: 50px;
        margin: 0px;
        padding-left: 30px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 3px;
        color: #FFF;
    }
    .navbar-nav > li > a {
        display: block;
        min-height: 50px;
        padding: 15px;
        font-size: 11px;
        letter-spacing: 3px;
        color: #FFF;
    }
    .nav li.active,
    .nav li a:hover,
    .nav li a:focus,
    .navbar-nav > li.active a {
        background: none;
        outline: 0;
        color: $color-primary;
    }
    .navbar-toggler {
        width: 30px;
        margin-right: 45px;
        .icon-bar {
            display: block;
            width: 15px;
            height: 1px;
            margin-top: 5px;
            background: $color-white;
            width: 22px;
            transition: all 0.2s;
        }
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
    }
    
    .navbar-collapse {
        margin-top: 10px;
        background-color: #fff;

        .navbar-nav > li > a {
            color: $color-black;
        }
    }
}
.navbar.navbar-color, .navbar-static {
    padding-top: 0px;
    background: $color-white;
    border-bottom: 1px solid $color-primary;

    .navbar-collapse {
        margin-top: 0px;
    }

    .navbar-brand,
    .navbar-collapse > .navbar-nav > li > a {
        color: $color-black !important;
    }

    .navbar-toggler .icon-bar {
        background: $color-black;
    }
}

.navbar-toggler.collapsed {
    .top-bar, .bottom-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .navbar {
        .navbar-collapse {
            background-color: transparent !important;

            .navbar-nav > li > a {
                color: $color-white;
            }
        }
    }
}
